<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : astra
    - 3d Sensor : rplidar
-->
<robot name="turtlebot2n" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- General -->
  <xacro:include filename="$(find turtlebot2n_description)/urdf/common_properties.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot2n_description)/urdf/turtlebot_properties.urdf.xacro"/>
  <!-- Bases -->
  <xacro:include filename="$(find kobuki_description)/urdf/kobuki.urdf.xacro" />
  <!-- Stacks -->
  <xacro:include filename="$(find turtlebot_description)/urdf/stacks/hexagons.urdf.xacro"/>
  <!-- 3D Sensors -->
  <xacro:include filename="$(find turtlebot2n_description)/urdf/sensors/astra.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot2n_description)/urdf/sensors/rplidar.urdf.xacro"/>
  
  <kobuki/> <!-- expand kobuki macro into URDF with no param given -->
  <stack_hexagons parent="base_link"/> <!-- expand stack macro into URDF with param parent=base_link -->
  <sensor_astra parent="base_link"/>
  <sensor_rplidar parent="base_link"/>
  
</robot>