<?xml version="1.0"?>
<robot name="laser_plugin" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Gazebo plugin settings for laser -->
  <xacro:macro name="turtlebot_sim_laser">
    <gazebo reference="laser">  <!-- meaning that this feature applied to the link named "laser" -->
      <material>Gazebo/Black</material>
    </gazebo>
    
    <gazebo reference="laser">
      <sensor type="ray" name="head_rplidar_sensor">  <!-- RPLidar using CPU-->
      <!-- sensor type="gpu_ray" name="head_rplidar_sensor"--> <!-- RPLidar using GPU -->
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <update_rate>20</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>720</samples>
              <resolution>1</resolution>
              <min_angle>-3.14159265</min_angle>
              <max_angle>3.14159265</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.2</min>
            <max>8.0</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
          <!-- Noise parameters based on published spec for rplidar laser
            achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
            stddev of 0.01m will put 99.7% of samples within 0.03m of the true
            reading. -->
        </ray>
        <plugin name="gazebo_ros_head_rplidar_controller" filename="libgazebo_ros_laser.so">
        <!--plugin name="gazebo_ros_head_rplidar_controller" filename="libgazebo_ros_gpu_laser.so"-->
          <topicName>scan</topicName>
          <frameName>laser</frameName>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
